<div class="container container-edit">
  <div class="d-flex align-items-start">
    <div class="container-edit-tile1 ">
      <%= cl_image_tag(@meme.photo.key) %>
    </div>
    <div class="container-edit-tile2 ms-4">
      <article class="mb-4">
        <h1><%= @meme.title %></h1>
      </article>
      <%= simple_form_for @meme do |f| %>
        <div class="d-flex">
          <div class="m-1">
            <%= f.input :title %>
          </div>
          <div class="m-1">
            <%= f.input :category %>
          </div>
        </div>
        <div class="m-1">
          <%= f.input :description %>
        </div>
        <div class="d-flex">
          <div class="m-1">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="m-1">
            <%= f.input :price %>
          </div>
        </div>
        <%= f.button :submit, :class =>"btn purple ms-1 mt-2" %>
      <% end %>
    </div>
  </div>
