<div class="container container-index">
  <article>
    <h1 class="h1-index mb-5">Market Place</h1>
  </article>
  <div class="container-index1">
    <div class="row">
      <% @memes.each do |meme| %>
        <a href="/memes/<%= meme.id %>">
          <div class="d-flex postcard rounded light blue">
            <%= cl_image_tag meme.photo.key %>
            <div class="postcard__text t-dark">
              <div class="postcard__subtitle small">
                <h1 class="postcard__title"><%= meme.title %></h1>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__body">
                <i class="fa-solid fa-dollar-sign large"></i> <%= meme.price %>
              </div>
            </div>
            <div class="ribbon"><span class="ribbon__content"><%= meme.category %></span></div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
</div>
