<div class="container container-show">
  <div class="d-flex">
    <div class="container-show-tile1">
      <h1><%= @meme.title %></h1>
      <%= cl_image_tag(@meme.photo.key) %>
    </div>
    <div>
      <p><%= @meme.price %></p>
      <p><%= @meme.description %></p>
      <p><%= @meme.category %></p>
    </div>
  </div>
</div>
