<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <article>
        <h2 class="mb-5 pb-3">Create booking request for -<br>
          (<%= @meme.title %> Meme)</h2>
      </article>
      <div class="form-container">
        <%= simple_form_for [@meme, @booking] do |f| %>
          <p><small>Start Date</small><br>
            <%= f.text_field :start_date, data: { controller: "flatpickr", flatpickr_date_format: "Y-m-d", flatpickr_mode: "range", flatpickr_min_date: Time.zone.now } %>
          </p>
          <p><small>End Date</small><br>
            <%= f.text_field :end_date, id: "secondRangeInput" %>
            <%# # , data: {
      # controller: "flatpickr",
      # flatpickr_date_format: "Y-m-d",
      # flatpickr_mode: "range",
      # flatpickr_min_date: Time.zone.now} %>

          </p>
          <%= f.button :submit, :class =>"btn purple mt-3" %>
        <% end %>
        <%=  %>
      </div>
    </div>
    <div class="booking-details mb-3 border shadow bg-white">
      <%= cl_image_tag @meme.photo.key %>
    </div>
  </div>
</div>
