<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="form-container">
      <h2>Create booking request for <%= @meme.title %> Meme</h2>
      <%= simple_form_for [@meme, @booking] do |f| %>
      <p>Start Date<br>
        <%= f.text_field :start_date, as: :date, data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    } %>
    </p>
    <p>End Date <br>
        <%= f.text_field :end_date, as: :date, data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    }%>
    </p>
        <%= f.button :submit, :class =>"btn btn-success" %>
      <% end %>
      <%=  %>
    </div>
    <div class="booking-details mb-3 border shadow bg-white">
      <%= cl_image_tag @meme.photo.key %>
    </div>
  </div>
</div>
