<div class="container">

<h2>Booking Request Successfully Created!</h2>
<p>Booking Status for <%= @meme.title %> is <%= @booking.status %></p>
<p>Booking start date: <%= @booking.start_date %></p>
<p>Booking end date: <%= @booking.end_date %></p>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
